{#
  SPDX-FileCopyrightText: 2015-2018 CERN.
  SPDX-License-Identifier: MIT
#}

{% macro render_field(field, icon="", placeholder='', autofocus=False) %}
  <div class="form-group {% if icon %} has-feedback{% endif %}{% if field.errors %} has-error{% endif %}">
    {%- set extras = dict(autofocus="") if autofocus else dict() %}
    {{field(class_="form-control", placeholder=placeholder or _(field.label.text | string), **extras)}}
    {%- if icon %}
    <i class="{{icon}} form-control-feedback" aria-hidden="true" ></i>
    {%- endif%}
  </div>
{% endmacro %}


{% macro oauth_button(name, next=None) %}
{%- set remote_app = config.OAUTHCLIENT_REMOTE_APPS[name] %}
  <a class="btn btn-default btn-lg btn-block"
     href="{{url_for('invenio_oauthclient.login', remote_app=name, next=next or request.referrer)}}">
    {%- if remote_app.get('icon_image') %}
    <img src="{{ url_for('static', filename=remote_app['icon_image']) }}" alt="" aria-hidden="true" style="max-height: 1em; max-width: 1.25em; margin-right: 0.5em; vertical-align: middle;">
    {%- else %}
    <i class="fa fa-{{ name|lower() }}"></i>
    {%- endif %} {{
      _('Sign in with %(title)s', title=remote_app['title'])
    }}
  </a>
{% endmacro %}
