{#
  SPDX-FileCopyrightText: 2015-2018 CERN.
  SPDX-FileCopyrightText: 2021 TU Wien.
  SPDX-FileCopyrightText: 2021 Graz University of Technology.
  SPDX-License-Identifier: MIT
#}
{%- extends config.OAUTHCLIENT_LOGIN_USER_TEMPLATE_PARENT %}

{%- from "invenio_oauthclient/_macros.html" import oauth_button %}

{%- block form_outer %}
  {% if config.OAUTHCLIENT_REMOTE_APPS %}
    {% for name, config in config.OAUTHCLIENT_REMOTE_APPS.items() if not config.hide %}
      {{ oauth_button(name, next=request.args.get('next'), icon=config.get('icon', name)) }}
    {% endfor %}
    {%- if config.ACCOUNTS_LOCAL_LOGIN_ENABLED %}
      <h3 align="center">&mdash; {{ _("OR") }} &mdash;</h3>
    {%- endif %}
  {% endif %}
  {{ super () }}
{% endblock %}
